---
// importamos estilos globales
import '../styles/global.css';

// Importamos componentes reutilizables
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';


const siteName = "Mi Blogcito"
const pageTitle = "Página de inicio"

---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} - {siteName}</title>
	</head>
	<body>		
		<div class="site-wrapper">
			<Header />
			<h1>{siteName} ¡Take your passion and make it happen! &#128515; </h1>
			<h1>{pageTitle}</h1>
			
			
			<Footer />
		</div>
		<script>
		import "../scripts/menu.js";			
		</script>
	</body>
</html>
